:root {
    --green: #0f0;
    --white: #fff;
    --black: #000;
    
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

.header {
    background-color: #fff36d;
    padding: 20px;
}

.footer {
    background-color: #fff36d;
    padding: 20px;
}

.footerText {
    text-align: left;
}

.footerText2 {
    text-align: right;
}

.footerTab {
    justify-content: center;
}

/* .logo {
    margin-left: 45%;
    font-size: 30px;
    margin-bottom: 10%;
    font-family: "Times New Roman";
} */

.logo {
    margin-left: 5%;
    font-size: 2vw;
    margin-top: 10px;
    font-family: "Times New Roman";
    float: left;
    width: 20%; /* The width is 20%, by default */

}

.header-right {
    padding-left: 25%;
    
}

.headerTab {
    padding-right: 5%;
    font-family: serif;
    font-size: 1.5vw;
}

.headerName {
    text-align: left;
    text-decoration: underline;
    font-family: fantasy;
    margin-top: 100px;
    padding: 5%;
    float: left;
    width: 40%; /* The width is 20%, by default */
}

.section-0 {

}

.section-1 {
    background-color: #faefb1;
}

.section-2 {
    background-color: #faefb1;
    padding-bottom: 20px;
}

.paragraph {
    line-height: 1.6;
    text-align: left;
    margin: 90px 120px 30px;
    font-family: serif;
    font-size: 20px;
    text-indent: 60px;
}

.description-project {
    line-height: 1.6;
    text-align: left;
    margin: 30px 5%;
    font-family: serif;
    font-size: 18px;
    text-indent: 60px;
}

.portfolio-div {
    background-color: #f5f5f5;
}

.resume {
    text-align: right;
    margin-left: 41%;
    color: red;
    font-style: oblique;
    font-size: large;
}

.headerPic {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.profpic {
    height: 300px;
    /* width: 500px; */
    border-radius: 50%;
    /* padding: 5%; */
    
}

.roleJob {
    font-family: serif;
    font-size: 15px;
    /* margin-left: 130px; */
}

.picRole {
    float: left;
    width: 40%; /* The width is 20%, by default */
    text-align: center;
}

.iconLan {
    display: block;
    margin-left: auto;
    width: 60%;
    
}

.icon {
    width: 15%;
    height: 15%;
}

.languagues {
   
}

.languageHeader {
    display: table;
}

.java {
    width: 10%;
    height: 10%;
}

.javascript {
    width: 10%;
    height: 10%;
}

.python {
    width: 10%;
    height: 10%;
}

.about {
    text-align: center;
    /* margin: 80px; */
    margin: 5%;
    font-family: fantasy;
}

.paragraphAbout {
    text-indent: 60px;
    
}

.spaces img {
    width: 50px;
    animation: space 10s linear infinite;
}

.spaces {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -800;
}

@keyframes space{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(-800vh);
        opacity: 0;
    }
}

.spaces img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
    border-radius: 50px;
}
.spaces img:nth-child(2){
    animation-delay: 3s;
    width: 15px;
    border-radius: 50px;
}
.spaces img:nth-child(3){
    animation-delay: 2.5s;
    width: 25px;
    border-radius: 50px;
}
.spaces img:nth-child(4){
    animation-delay: 1s;
    width: 10px;
    border-radius: 50px;
}
.spaces img:nth-child(5){
    animation-delay: 4s;
    width: 30px;
    border-radius: 50px;
}
.spaces img:nth-child(6){
    animation-delay: 5.5s;
    width: 15px;
    border-radius: 50px;
}
.spaces img:nth-child(7){
    animation-delay: 3.5s;
    width: 20px;
    border-radius: 50px;
}
.spaces img:nth-child(8){
    animation-delay: 7s;
    width: 18px;
    border-radius: 50px;
}.spaces img:nth-child(9){
    animation-delay: 6s;
    width: 12px;
    border-radius: 50px;
}.spaces img:nth-child(10){
    animation-delay: 8s;
    width: 14px;
    border-radius: 50px;
}.spaces img:nth-child(11){
    animation-delay: 7.5s;
    width: 16px;
    border-radius: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 10%;
}

.fa-instagram {
    background: #ff0833;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
}

.fa-github {
    background: #d3d3d3;
    color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
}

.fa-github-square {
    background: #ffb6c1;
    color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px 60px;
    size: 40px;
}

.contact {
    font-family: serif;
    margin-left: 10%;
}

body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
    margin-bottom: 10px;
    margin-left: 7%;
}

.listHeader {
    margin-left: 5%;
    padding-top: 80px;
}

.light-theme {
    --bg: var(var(--white));
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: #fff00f;
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-size: 1rem;
}

.btn:focus { outline-style: none;}